.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 57px);
}

.Home h1 {
  font-size: 4rem;
  font-family: 'proxima_nova_rgbold';
}

.Home-welcome-back {
  font-family: 'proxima_novasemibold';
}
